{
    "flowymotion": {
        "atname": "bobby"
    },
    "motion": {
        "apikey": "xxxxxxx", 
        "workspaceId": "xxxxxxx"
    },
    "todoist": {
        "apikey": "xxxxxxx",
        "default-project": "xxxx"
    } 
}
